/*
 * This is the Cascading Style Sheet file.
 *
 * It contains information for making the items within the HTML file look good.
 * This includes text styles and sizes, positioning, borders and much, much more.
 */

/* a name prefiexed with a # refers to an 'id' in the html */
/* a name prefeixed with a . refers to a 'class' in the html */
/* a name with no prefix refers to an 'element' (for example <div></div>) in the html */

#container {
  margin-top: 30px;
  margin-left: 30px;
  width: 800px;
}

#spoken-words-area {
  width:100%;
  margin-bottom: 15px;
  text-align:center;
}

#spoken-words {
  border: 1px solid #000;
  padding: 5px;
  font-size: 3em;
}

.hidden {
  display: none;
}

#answer-area {
  display: none;
}

.askingQuestion #answer-area {
  display: block;
}

#answer-area button {
  font-size: 2em;
}
#answer-area input {
  width: 400px;
  font-size: 2em;
}
